<template>
    <v-alert
        text
        :value="settings.alert"
        :prominent="settings.prominent"
        :dismissible="settings.dismissible"
        :type="settings.type">
        {{ settings.text }}
    </v-alert>
</template>

<script>

    import { mapFields } from 'vuex-map-fields'    

    export default {
        name: 'Alerts',

        computed: {
            ...mapFields('utils', { settings: 'alert_settings' })
        }

    }
</script>