<template>
    <v-overlay :value="loader">
        <v-progress-circular
            indeterminate
            size="64"
        ></v-progress-circular>
    </v-overlay>
</template>

<script>

    import { mapState, mapMutations } from 'vuex'

    export default {
        name: 'Loader',

        computed: {
            ...mapState(['loader'])
        },

        watch: {
            overlay (val) {
                this.toggleLoader()
            },
        },

        methods: {
            ...mapMutations(['toggleLoader'])
        },

        data() {
            return {
                overlay: false,
            }
        }
    }
</script>

<style lang="scss" scoped>

</style>