<template>
    <v-app>

        <v-navigation-drawer
            dark
            class="color_primary darken-2"
            v-model="drawer"
            :mini-variant="miniVariant"
            :clipped="clipped"
            fixed
            app>
            <v-list>
                <v-list-item
                    v-for="(item, i) in items"
                    :key="i"
                    :to="item.to"
                    router
                    exact>

                    <v-list-item-action>
                        <v-icon>{{ item.icon }}</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title 
                            v-text="item.title" />
                    </v-list-item-content>

                </v-list-item>
            </v-list>
        </v-navigation-drawer>

        <v-app-bar
            :clipped-left="clipped"
            fixed
            dark
            app>

            <v-app-bar-nav-icon @click.stop="drawer = !drawer" />

            <v-toolbar-title v-text="title" />
            <v-spacer />            
        </v-app-bar>

        <v-main>
            <v-container fluid>
                <nuxt />
            </v-container>
        </v-main>
        
        <v-footer
            :absolute="!fixed"
            dark
            color="color_primary darken-3"
            app>
            <span>&copy; {{ new Date().getFullYear() }}</span>
        </v-footer>
        <Loader />

    </v-app>
</template>

<script>

    import Loader from '~/components/base/Loader'

    export default {
        name: 'PokemonApp',

        components: { Loader },

        data () {
            return {
                clipped: false,
                drawer: false,
                fixed: false,
                items: [
                    {
                        icon: 'mdi-apps',
                        title: 'Home',
                        to: '/'
                    },
                    {
                        icon: 'mdi-chart-bubble',
                        title: 'Pokemons',
                        to: '/pokemon'
                    }
                ],
                miniVariant: false,
                right: true,
                rightDrawer: false,
                title: 'PokeApp'
            }
        }
    }
</script>
