<template>
    <v-row>
        <v-col cols="12">
            <PokemonList />
        </v-col>
        <v-col class="text-center">
        
            <blockquote class="blockquote">
                &#8220;Lorem ipsum dolor sit amet, consectetur adipiscing elit.&#8221;
                <footer>
                    <small>
                        <em>&mdash;Pikachu</em>
                    </small>
                </footer>
            </blockquote>
        </v-col>
    </v-row>
</template>

<script>

    
    import PokemonList from '~/components/v2/gallery/PokemonList'

    export default {
        name: 'PokemonGallery',

        components: {
            PokemonList
        }        
    }
</script>