<template>
    <v-card flat color="grey lighten-4">
        <v-card-title>
            <p class="display-1">
                Pokemons
            </p>            
            <v-spacer></v-spacer>
            <v-spacer></v-spacer>
            <v-text-field
                v-model="searchKey"
                label="Search"
                append-icon="mdi-magnify"
                placeholder="Enter a string to search">
            </v-text-field>
        </v-card-title>
        <v-card-text>            
            <v-data-table
                :headers="headers"
                :items="searchResults"
                :items-per-page="itemsPerPage"
                class="elevation-1">

                <template #[`item.url`]="{ item }">
                    <v-img
                        aspect-ratio="1"
                        height="60"
                        width="60"
                        :src="getImage(getImageId(item.url))">
                    </v-img>
                </template>

                <template #[`item.name`]="{ item }">
                    {{ item.name }}
                </template>

                <template #[`item.actions`]="{ item }">
                    <div 
                        class="inlined-icons">
                        <Pokemon
                            :pokemon-name="item.name"
                            :pokemon-id="getImageId(item.url)" />
                        <v-btn
                            color="error"
                            depressed
                            fab text
                            small
                            dark>
                            <v-icon>mdi-delete</v-icon>
                        </v-btn>
                    </div>
                </template>

            </v-data-table>
        </v-card-text>

    </v-card>
</template>

<script>

    import { mapGetters, mapActions, mapMutations } from 'vuex'
    import Pokemon from './Pokemon'

    export default {
        name: 'PokemonList',

        components: { Pokemon },

        computed: {
            ...mapGetters('pokemon', ['pokemons']),

            searchResults() {
                let result = []
                this.pokemons?.results?.forEach( res => {
                    if ( res.name.indexOf(this.searchKey) >= 0 && res.name.indexOf('-') < 0 )
                        result.push(res)
                })
                return result
            }
        },

        async mounted() {
            this.toggleLoader()
            let res = await this.getPokemons({offset: this.offset, limit: this.limit})
            this.toggleLoader()
        },

        methods: {
            ...mapActions('pokemon', ['getPokemons']),
            ...mapMutations(['toggleLoader']),

            getImageId(url) {
                let id = url.split('pokemon')[1].replaceAll('/','')
                return id
            },

            getImage(id) {
                return `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/${id}.png`
            }
        },

        data() {
            return {
                searchKey: '',
                offset: 0,
                limit: 3000,
                itemsPerPage: 20,
                headers: [
                    { text: 'Image', sortable: false, value: 'url' },
                    { text: 'Name', sortable: false, value: 'name' },
                    { text: '', sortable: false, value: 'actions' }
                ]
            }
        }
    }
</script>

<style lang="scss" scoped>
    .inlined-icons {
        display: inline-flex;
    }
</style>