<template>
    <div class="text-center">
        <v-dialog
            persistent            
            v-model="dialog"
            width="1350">
            <template v-slot:activator="{ on, attrs }">
                <v-btn
                    color="success darken-1"                    
                    depressed
                    fab text
                    small
                    dark
                    v-bind="attrs"
                    v-on="on">
                    <v-icon>mdi-more</v-icon>
                </v-btn>
            </template>

            <v-card 
                :disabled="loading"
                class="grey lighten-4">
                <v-card-title class="headline grey lighten-2">
                    Pokemon Profile: <span class="text-capitalize">&nbsp;{{ pokemonName }}</span>
                </v-card-title>

                <!-- POKEMON PROFILE -->
                <v-card-text>
                    <v-layout wrap row class="pt-2">
                        <v-flex lg3>

                            <!-- AVATAR -->
                            <v-card class="ma-2 pb-2" flat>
                                <v-img
                                    height="300"
                                    width="300"
                                    aspect-ratio="1"
                                    :lazy-src="getSelectedImage"
                                    :src="getSelectedImage">
                                </v-img>
                                
                                <p class="text-lg-h5 text-center text-capitalize">
                                    {{ pokemonName }}
                                </p>
                                <v-card-text>
                                    <div class="py-1 font-weight-normal">
                                        Weight:
                                        <span class="font-weight-bold">{{ selectedPokemon.weight }}kg</span>
                                    </div>
                                    <div class="py-1 font-weight-normal">
                                        Height:
                                        <span class="font-weight-bold">{{ selectedPokemon.height }}cm</span>
                                    </div>
                                    <div class="py-1 font-weight-normal">
                                        Type:
                                        <v-chip small
                                            class="font-weight-bold text-capitalize mr-1"
                                            v-for="(p_type, pkey) in getType"
                                            :key="pkey">{{ p_type.type.name }} </v-chip>
                                    </div>
                                    <div class="py-1 font-weight-normal">
                                        Abilities:
                                    </div>
                                </v-card-text>
                            </v-card>

                            <!-- EVOLUTION -->
                            <v-card class="mx-2 my-4 pb-0" flat>
                                <v-list class="pb-0" three-line>
                                    <div class="title px-4">Evolution</div>
                                    <v-divider></v-divider>
                                    <v-list-item>
                                        <v-list-item-content>
                                            <!-- <v-list-item-title>12121</v-list-item-title> -->
                                            <v-list-item-subtitle
                                                v-for="(evo, evoKey) in evolutionChain"
                                                :key="evoKey">
                                                <v-icon color="primary">mdi-check-circle</v-icon>
                                                <span class="text-capitalize">{{ evo }}</span>
                                            </v-list-item-subtitle>
                                        </v-list-item-content>
                                    </v-list-item>
                                </v-list>
                            </v-card>
                        </v-flex>

                        <v-flex lg9>

                            <!-- ABOUTS -->
                            <v-card class="ma-2 pt-4" flat>
                                <div class="title px-4">About</div>
                                <p class="px-4 pb-4">
                                    {{ getAbouts.effect }}
                                </p>
                            </v-card>

                            <!-- STATISTICS -->
                            <v-layout ma-0>
                                <template
                                    v-for="(statKey, skey) in getStats">
                                    <v-flex
                                        class="pa-2 pt-0"
                                        :key="skey"
                                        lg2>
                                        <v-card flat class="px-1 py-2">
                                            <div class="display-1 text-center">
                                                {{ statKey.base_stat }}
                                                
                                            </div>
                                            <div class="caption text-center">
                                                {{ statKey.stat.name }}
                                            </div>
                                        </v-card>
                                        
                                    </v-flex>
                                </template>
                            </v-layout>

                            <v-layout>
                                <v-flex class="pa-2" lg6>
                                    <v-card flat class="py-2">
                                        <div class="title px-4">Strengths</div>
                                        <v-card-text>
                                            <div class="d-flex flex-no-wrap justify-space-between">
                                                <div>
                                                    <div class="subtitle-2">
                                                        Double-Damage To
                                                    </div>
                                                    <p v-for="(item, ikey) in doubleDamageToList" :key="ikey" class="ma-0">
                                                        <v-icon small color="success">mdi-check-circle</v-icon>
                                                        {{ item }}
                                                    </p>
                                                </div>
                                                <div class="pr-10">
                                                    <div class="subtitle-2">
                                                        Half-Damage From
                                                    </div>
                                                    <p v-for="(item, ikey) in halfDamageFromList" :key="ikey" class="ma-0">
                                                        <v-icon small color="success">mdi-check-circle</v-icon>
                                                        {{ item }}
                                                    </p>
                                                </div>
                                            </div>
                                        </v-card-text>
                                    </v-card>
                                </v-flex>
                                <v-flex class="pa-2" lg6>
                                    <v-card flat class="py-2">
                                        <div class="title px-4">Weaknesses</div>
                                        <v-card-text>
                                            <div class="d-flex flex-no-wrap justify-space-between">
                                                <div>
                                                    <div class="subtitle-2">
                                                        Double-Damage From
                                                    </div>
                                                    <p v-for="(item, ikey) in doubleDamageFromList" :key="ikey" class="ma-0">
                                                        <v-icon small color="error">mdi-check-circle</v-icon>
                                                        {{ item }}
                                                    </p>
                                                </div>
                                                <div class="pr-10">
                                                    <div class="subtitle-2">
                                                        Half-Damage To
                                                    </div>
                                                    <p v-for="(item, ikey) in halfDamageToList" :key="ikey" class="ma-0">
                                                        <v-icon small color="error">mdi-check-circle</v-icon>
                                                        {{ item }}
                                                    </p>
                                                </div>
                                            </div>
                                        </v-card-text>
                                    </v-card>
                                </v-flex>
                            </v-layout>

                            <!-- MOVES -->
                            <v-card class="ma-2 pt-4" flat>
                                <div class="title px-4">Moves</div>
                                <p class="mx-2 pb-4">
                                    <v-chip
                                        small
                                        v-for="(mov, movKey) in moves"
                                        :key="movKey"
                                        class="mr-1 mb-1">
                                        {{ mov.move.name }}
                                    </v-chip>
                                </p>
                            </v-card>
                        </v-flex>
                    </v-layout>
                </v-card-text>

                <v-divider></v-divider>

                <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                    color="primary"
                    text
                    @click="dialog = false">
                    Close
                </v-btn>
                </v-card-actions>
            </v-card>
            <v-overlay 
                :value="overlay">
                <v-progress-circular
                    indeterminate
                    size="64">
                </v-progress-circular>
            </v-overlay>
        </v-dialog>
        
    </div>
</template>

<script>

    import { mapActions, mapMutations, mapGetters } from 'vuex'
    export default {
        name: 'Pokemon',

        props: {
            pokemonId: {
                type: String,
                default: ''
            },
            pokemonName: {
                type: String,
                default: ''
            }
        },

        computed: {
            ...mapGetters('pokemon', [
                'selectedPokemon',
                'evolution',
                'abilities',
                'moves',
                'pokemonType'
            ]),

            evolutionChain() {
                let list = []
                if ( this.evolution?.chain?.evolves_to ) {
                    list = this.nestedEvolve(this.evolution.chain.evolves_to)
                }
                return list.reverse()
            },

            getSelectedImage() {
                if ( this.selectedPokemon?.sprites ) {
                    if ( this.selectedPokemon.sprites.other['official-artwork'].front_default !== null )
                        return this.selectedPokemon.sprites.other['official-artwork'].front_default
                    if ( this.selectedPokemon.sprites.other.dream_world.front_default !== null )
                        return this.selectedPokemon.sprites.other.dream_world.front_default
                    else if ( this.selectedPokemon.sprites.front_default !== null )
                        return this.selectedPokemon.sprites.front_default
                }
                return `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/${this.pokemonId}.png`
            },

            getPokeMoves() {
                let moves = []
                if ( this.moves?.contest_combos ) {
                    Object.keys(this.moves.contest_combos).forEach( conCom => {
                        Object.keys(this.moves.contest_combos[conCom]).forEach( combo => {
                            if ( this.moves.contest_combos[conCom][combo] !== null ) {
                                this.moves.contest_combos[conCom][combo].forEach( move => {
                                    moves.push(move.name)
                                })
                            }
                        })
                    })
                }                
                return moves
            },

            getAbouts() {
                if ( this.abilities?.effect_entries )
                    return this.abilities.effect_entries.find( ab => {
                        return ab.language.name === 'en'
                    })
                return {}
            },

            getStats() {
                return this.selectedPokemon?.stats
            },

            getType() {
                return this.selectedPokemon.types
            },

            doubleDamageToList() {
                let list = []
                if ( this.specificTypes.length ) {
                    this.specificTypes.forEach( _data => {
                        _data.damage_relations.double_damage_to.forEach( item => {
                            list.push(item.name)
                        })                        
                    })
                }
                return list
            },

            doubleDamageFromList() {
                let list = []
                if ( this.specificTypes.length ) {
                    this.specificTypes.forEach( _data => {
                        _data.damage_relations.double_damage_from.forEach( item => {
                            list.push(item.name)
                        })                        
                    })
                }
                return list
            },

            halfDamageFromList() {
                let list = []
                if ( this.specificTypes.length ) {
                    this.specificTypes.forEach( _data => {
                        _data.damage_relations.half_damage_from.forEach( item => {
                            list.push(item.name)
                        })                        
                    })
                }
                return list
            },

            halfDamageToList() {
                let list = []
                if ( this.specificTypes.length ) {
                    this.specificTypes.forEach( _data => {
                        _data.damage_relations.half_damage_to.forEach( item => {
                            list.push(item.name)
                        })                        
                    })
                }
                return list
            }
            
        },

        methods: {
            ...mapActions('pokemon', [
                'getPokemon',
                'getEvolution',
                'getAbilities',
                'getMoves',
                'getPokemonType'
            ]),
            ...mapMutations(['toggleLoader']),

            nestedEvolve(data) {
                let temp = []
                let obj = []
                data.forEach( ev => {
                    temp = ev
                })
                if (temp?.evolves_to?.length) {
                    obj.push(this.nestedEvolve(temp.evolves_to)[0])
                }
                obj.push(temp.species.name)
                return obj
            },

            async getSpecificTypes() {
                let reqType = []
                this.getType.forEach( id => {
                    reqType.push(this.getPokemonType(id.slot))
                })
                Promise.all(reqType)
                .then( data => {
                    this.specificTypes = data
                })
                .catch( err => {
                    console.log('err :>> ', err);
                })                
            }
        },

        watch: {
            'dialog': {
                async handler(val) {
                    if ( val ) {
                        this.overlay = true
                        Promise.all([
                            this.getPokemon(this.pokemonId),
                            this.getEvolution(this.pokemonId),
                            this.getAbilities(this.pokemonId),
                            
                        ])
                        .then( async data => {
                            await this.getSpecificTypes(this.pokemonId)
                            this.overlay = false
                            return data
                        })
                        .catch( err => {
                            this.overlay = false
                            return err
                        })
                    }
                },
                deep: true
            }            
        },

        data() {
            return {
                selectedPokemonType: {},
                specificTypes: [],
                overlay: false,
                dialog: false,
                loading: false,
                resources: {}
            }
        }
    }
</script>

<style lang="scss" scoped>

</style>